<div class="container">
  <h1>My Offers</h1>
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-12 col-md-6 col-lg-6 mb-5 mt-2">
        <div class="card shadow-sm p-3 bg-body rounded h-100">
          <% if item.photos.attached? %>
            <div class="item-images">
              <% item.photos.each do |photo| %>
                <div class="d-flex justify-content-center">
                  <%= cl_image_tag(photo.key, size: "340x320", width: 800, height: 285, crop: :fill ) %>
                </div>
              <% end %>
            </div>
          <% end %>
          <div class="mt-4">
            <h2><%= item.name %></h2>
          </div>
            ~<%= item.user.first_name %>

          <div>
            <p><%= item.description %>  (<%= item.category.capitalize %>)</p>
          </div>

          <p>
            Size: <%= item.size %> <br>
          </p>

          <div class="d-flex justify-content-between align-items-center">
            $ <%= item.price %> /day

            <div class="d-flex justify-content-end align-items-center">
              <%= link_to 'Edit', edit_item_path(item), class: "btn btn-outline-primary mr-3" %>
              <%= link_to 'Delete', item_path(item), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-primary" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to 'To List', items_path, class: "btn btn-outline-primary mb-5" %>
</div>
