<%= simple_form_for([@item, @booking]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
<h1>
  <p>Item: <%= @item.name %></p>
</h1>

<h1>

  <p>Price: <%= @item.price %> AED</p>

</h1>

<div class="card shadow-sm p-3 mb-5 bg-body rounded">
        <% @item.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 885, crop: :fill %>
        <% end %>
        <div class="d-flex justify-content-between mt-4">
          <h2><%= @item.name %></h2>
          <h5>
            (<%= @item.category.capitalize %>)
          </h5>
        </div>

<div class="card shadow-sm p-3 mb-5 bg-body rounded">
        <% @item.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 885, crop: :fill %>
        <% end %>
  <div class="form-inputs">
    <%= f.input :start_date %>
    <%= f.input :end_date %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

