<p id="notice"><%= notice %></p>

<%= simple_form_for :search, url: items_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
<% end %>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% unless @items.empty? %>
      <tr>
        <% @items.each do |item| %>
          <%= link_to item_path(item) do %>
            <td><%= item.name %></td>
            <td><%= item.category %></td>
            <td><%= link_to 'Show', item_path(item) %></td>

            <td><%= link_to 'Edit', edit_item_path(item) %></td>
            <td><%= link_to 'Destroy', item_path(item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% end %>
      </tr>
    <% else %>
      <h3>Sorry, we don't have this category</h3>
    <% end %>
  </tbody>

<td><%= link_to 'New Item', new_item_path %></td>

</table>
