<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="card shadow-sm p-3 mb-5 bg-body rounded">
        <% @item.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 885, crop: :fill %>
        <% end %>
        <div class="d-flex justify-content-between mt-4">
          <h2><%= @item.name %></h2>
          <h5>
            (<%= @item.category.capitalize %>)
          </h5>
        </div>
          ~<%= @item.user.first_name %>


        <div>
          <p><%= @item.description %></p>
        </div>

        <p>
          Size: <%= @item.size %> <br>
        </p>

        <div class="d-flex justify-content-between align-items-center">
          $ <%= @item.price %>
        </div>


        <% if @item.user == current_user %>

        <div>
          <%= link_to 'Edit', edit_item_path(@item), class: "btn btn-warning" %>
        </div>

        <div>
          <%= link_to 'Delete', item_path(@item), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </div>

        <div>
          <%= link_to 'Book', new_item_booking_path(@item), class: "btn btn-success" %>
        </div>

        <% else %>
        <div>

          <%= link_to 'Book', new_item_booking_path(@item), class: "btn btn-success" %>
        </div>

        <% end %>

      </div>
      <%= link_to 'Back to List', items_path, class: "btn btn-outline-primary mb-5" %>




    </div>
  </div>
</div>
